body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/BG_1 (1).jpg') no-repeat center center/cover;
}

/* Container for centering the logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Adjust top margin for spacing */
}

/* Logo styling */
.logo {
    width: 500px; /* Set a fixed size for the logo */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Ensure responsiveness on smaller screens */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 90%;
    max-width: 400px;
}

.container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

p {
    font-size: 0.9em;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    background-color: #d60000;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background-color: #a10000;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #666;
}

.content a {
    color: #d60000;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
    font-size: 1em;
    color: #666;
    text-align: center;
}

.register-link {
    color: #d60000;  /* Red color to match the button */
    text-decoration: none;
    font-size: 1em;
}

.register-link:hover {
    text-decoration: underline;  /* Underline on hover */
}


@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.8em;
    }
    .button {
        font-size: 0.9em;
    }
}